<h1 class="mt-4">Tablica</h1>
<p class="lead mb-3">Witaj <%= user.name %></p>
<p class="lead mb-3">Twoje zaszyfrowane hasło to: <%= user.password %></p>
<a href="/users/logout" class="btn btn-secondary">Wyloguj</a>
