<h1 class="mt-4">Zalogowano pomyślnie!</h1>
<br/>
<p class="lead mb-3">Witaj <%= user.name %>!</p>
<br/>
<p class="lead mb-3">Twoje zaszyfrowane hasło to: <%= user.password %></p>
<br/>
<a href="/users/logout" class="btn btn-secondary">Wyloguj</a>
